
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid" style="border: solid 2px black; margin-top: 30px;">
    <div class="container">
        <h1 class="display-4" style="text-align: center;">Minhas Habilides</h1>
        <p class="lead" style="text-align: center;">Durante um tempo estudando, quais são minhas habilidades?</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Scripts/image/HTML_Logo.png" alt="" width="100" height="100" style="margin-left: 41%;">
                <h5 class="card-title" style="text-align: center;">HTML</h5>
                <p class="card-text" style="text-align:justify">Sem duvida a linguagem que mais utilizei para desenvolver durante alguns anos de estudos.</p>
                <a href="@Url.Action("Projetos", "Home")" class="btn btn-primary" style="margin-left: 36%;">Clique para ve projeto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Scripts/image/css-37.png" alt="" width="100" height="100" style="margin-left: 41%;">
                <h5 class="card-title"  style="text-align: center;">CSS</h5>
                <p class="card-text" style="text-align:justify">E claro o CSS em conjunto com o HTML foi um dos recursos que mais utilizei para deixar o site responsivel e bem detalhado</p>
                <a href="@Url.Action("Projetos", "Home")" class="btn btn-primary" style="margin-left: 36%;">Clique para ve projeto</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Scripts/image/c.png" alt="" width="100" height="100" style="margin-left: 41%;">
                <h5 class="card-title"  style="text-align: center;">C#</h5>
                <p class="card-text" style="text-align:justify">C sharp foi é uma das linguagens de programação que mais uso atualmente dentro da GFT, já tive contato em curso técnico, mas nao da forma que estou tendo agora</p>
                <a href="@Url.Action("Projetos", "Home")" class="btn btn-primary" style="margin-left: 36%;">Clique para ve projeto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Scripts/image/java.png" alt="" width="100" height="100" style="margin-left: 41%;">
                <h5 class="card-title"  style="text-align: center;">Java</h5>
                <p class="card-text" style="text-align:justify">Tambem ja tive aula de Java, porem nao entedia tanto na época, após entrar na GFT comecei a gostar bastante de Java e aprendi bastante coisa em pouco tempo</p>
                <a href="@Url.Action("Projetos", "Home")" class="btn btn-primary" style="margin-left: 36%;">Clique para ve projeto</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Scripts/image/sql.png" alt="" width="100" height="100" style="margin-left: 41%;">
                <h5 class="card-title" style="text-align: center;">SQL</h5>
                <p class="card-text" style="text-align:justify">SQL foi o banco de dados que mais tive contato, fazendo create, delete, update, join...</p>
                <a href="@Url.Action("Projetos", "Home")" class="btn btn-primary" style="margin-left: 36%;">Clique para ve projeto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Scripts/image/java.png" alt="Imagem de capa do card" width="100" height="100" style="margin-left: 41%;">
                <h5 class="card-title" style="text-align: center;">Python</h5>
                <p class="card-text" style="text-align:justify">Python é a linguagem que é usada dentro da faculdade, então obtive um pouco de conhecimento</p>
                <a href="@Url.Action("Projetos", "Home")" class="btn btn-primary" style="margin-left: 36%;">Clique para ve projeto</a>
            </div>
        </div>
    </div>
</div>

